{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="active">방제사전</span>
                </div>
                <div class="mt-12">
                    <div class="section__title text-center">
                        <h2>방제사전</h2>
                        <div class="desc">
                            <p>
                                도움말도움말도움말도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말
                            </p>
                        </div>
                    </div>
                    <div class="">
                        <div class="board-table-info">
                            <span>
                                총 10개의 방제사전이 검색 되었습니다.
                            </span>
                            <div class="select">
                                <select name="" id="">
                                    <option value="">10개씩 보기</option>
                                </select>
                            </div>
                        </div>
                        <div class="table board-table">
                            <table>
                                <colgroup>
                                    <col width="135">
                                    <col width="275">
                                    <col>
                                    <col width="135">
                                    <col width="135">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="text-center">번호</th>
                                        <th class="text-center">출전</th>
                                        <th class="text-left">방제명</th>
                                        <th class="text-center">구분</th>
                                        <th class="text-center">약재수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">01</td>
                                        <td class="text-center">방약합편 中統, 동의보감 咽喉</td>
                                        <td>
                                            <a href="">감길탕甘桔湯</a>
                                        </td>
                                        <td class="text-center">탕제</td>
                                        <td class="text-center">1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="flex items-center mt-8 justify-end">
                            <div class="input" style="width:320px;height:45px;">
                                <input type="text" placeholder="방제명을 입력해주세요.">
                            </div>
                            <button class="button small mint ml-2" type="button">검색</button>
                        </div>

                        <div class="pagination mt-8">
                            <a href="" class="arrow arrow-prev">이전</a>
                            <a href="" class="active">1</a>
                            <a href="" class="">2</a>
                            <a href="" class="">3</a>
                            <a href="" class="">4</a>
                            <a href="" class="">5</a>
                            <a href="" class="arrow arrow-next">다음</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}