{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub service">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">고객센터</span>
                    <span class="active">사이버 견학</span>
                </div>
                <div>
                    <div class="section__title text-center">
                        <h2>사이버 견학</h2>
                        <div class="desc">
                            <p>
                                사이버 견학
                            </p>
                        </div>
                    </div>

                    <div>
                        <div class="service__head text-center">
                            <h3>한의사랑 원외탕전실 사이버 견학</h3>
                            <p>
                                젊음으로 가득찬 도전, 제형 벼화의 선두주자 한의사랑 원외탕전실입니다.
                            </p>
                        </div>

                        <div class="cyber__content sercive__slider">
                            <div class="slider__item">
                                <img src="./assets/images/cyber.png" alt="">
                            </div>
                            <div class="slider__item">
                                <img src="./assets/images/cyber.png" alt="">
                            </div>
                            <div class="slider__item">
                                <img src="./assets/images/cyber.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}