{% extends 'layout/base.njk' %}
{% block content %}
  <div class="container">
    <div class="accounts">
      <div class="wrap">
        <div class="section__title text-center">
          <h2>아이디 / 비밀번호 찾기</h2>
          <div class="desc">
            <p>
                한의사랑 가입계정 정보를 입력 해주세요.
            </p>
          </div>
        </div>

        <div class="find">
          <div class="find__lisks flex items-center">
            <a href="" class="active">아이디 찾기</a>
            <a href="" class="">비밀번호 찾기</a>
          </div>
          <div class="find__result text-center">
            <p>
              홍길동 님의 아이디는<br/>
              <span>flyw***</span> 입니다.
            </p>
            <a href="" class="btn mint">로그인</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}