{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub service">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">고객센터</span>
                    <span class="active">이용안내</span>
                </div>
                <div>
                    <div class="section__title text-center">
                        <h2>이용안내</h2>
                        <div class="desc">
                            <p>
                                이용안내
                            </p>
                        </div>
                    </div>
                    <div class="serach-area form-area justify-center">
                        <div class="search">
                            <input type="text">
                            <button type="submit">검색</button>
                        </div>
                    </div>

                    <div>
                        <div class="service__head">
                            <h3>이벤트</h3>
                            <p>
                                총 <i>12</i> 개의 이용안내가 검색 되었습니다.
                            </p>
                        </div>
                        <ul class="notice">
                            <li class="notice__item">
                                <a href="" class="flex">
                                    <div class="date">
                                        <span>22</span>
                                        <span>2021.01</span>
                                    </div>
                                    <span class="category">이용안내</span>
                                    <div class="txt">
                                        <h3>한의사랑 원외탕전실 홈페이지 오픈</h3>
                                        <p>이용안내 내용입니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="notice__item">
                                <a href="" class="flex">
                                    <div class="date">
                                        <span>22</span>
                                        <span>2021.01</span>
                                    </div>
                                    <span class="category">이용안내</span>
                                    <div class="txt">
                                        <h3>한의사랑 원외탕전실 홈페이지 오픈</h3>
                                        <p>이용안내 내용입니다.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="notice__item">
                                <a href="" class="flex">
                                    <div class="date">
                                        <span>22</span>
                                        <span>2021.01</span>
                                    </div>
                                    <span class="category">이용안내</span>
                                    <div class="txt">
                                        <h3>한의사랑 원외탕전실 홈페이지 오픈</h3>
                                        <p>이용안내 내용입니다.</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="pagination mt-8">
                        <a href="" class="arrow arrow-prev">이전</a>
                        <a href="" class="active">1</a>
                        <a href="" class="">2</a>
                        <a href="" class="">3</a>
                        <a href="" class="">4</a>
                        <a href="" class="">5</a>
                        <a href="" class="arrow arrow-next">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}