{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="main">
            <div class="main__visual">
                <div class="main__slide">
                    <div class="slide__item">
                        <img src="/assets/images/main_slide-01.png" alt="">
                    </div>
                    <div class="slide__item">
                        <img src="/assets/images/main_slide-02.png" alt="">
                    </div>
                    <div class="slide__item">
                        <img src="/assets/images/main_slide-03.png" alt="">
                    </div>
                    <div class="slide__item">
                        <img src="/assets/images/main_slide-04.png" alt="">
                    </div>
                </div>
                <div class="main__inner">
                    <div class="wrap">
                        <h2>
                            안정적 운영을 위한 나의 파트너<br/>
                            <span>
                                <strong>디제이메디</strong>에서 한약방 관리를 시작하세요!
                            </span>
                        </h2>
                        <div class="main__nav flex items-center justify-between">
                            <a href="" class="nav__item active">
                                <div class="inner">
                                    <h3>Apply for Solution Use</h3>
                                    <p>솔루션 사용신청</p>
                                </div>
                            </a>
                            <a href="javascript:showModal('modal-guide');" class="nav__item">
                                <div class="inner">
                                    <h3>documentation guidance</h3>
                                    <p>가입서류 안내</p>
                                </div>
                            </a>
                            <a href="" class="nav__item">
                                <div class="inner">
                                    <h3>Download Guide</h3>
                                    <p>가이드 다운로드</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main__section">
                <div class="wrap">
                    <div class="main__title">
                        <h2>솔루션 사용신청</h2>
                        <p>신청자 정보를 입력해주세요.</p>
                    </div>
                    <form action="">
                        <div class="form form--accounts">
                            <div class="form__row">
                                <div class="col">
                                    <div class="input_box">
                                        <input type="text" placeholder="회사명">
                                    </div>
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="col">
                                    <div class="input_box">
                                        <input type="text" placeholder="담당자명">
                                    </div>
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="col">
                                    <div class="input_box">
                                        <input type="text" placeholder="연락처 (“_” 없이 숫자만 입력)">
                                    </div>
                                </div>
                            </div>
                            <div class="action-button mt-10">
                                <a href="" class="button bg-blue color-white">신청하기</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 가입서류 안내 -->
    <div class="modal modal--guide" id="modal-guide">
        <div class="modal__inner">
            <div class="modal__head">
                <h2>가입서류 안내</h2>
            </div>
            <div class="modal__body">
                <div class="guide__process mb-20">
                    <h3>가입 프로세스</h3>
                    <ul>
                        <li>
                            <div class="img">
                                <img src="./assets/images/ico_step-01.png" alt="">
                            </div>
                            <div class="txt">
                                <span>STEP 01</span><br/>
                                회원가입
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="./assets/images/ico_step-02.png" alt="">
                            </div>
                            <div class="txt">
                                <span>STEP 02</span><br/>
                                가입서류 발송
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="./assets/images/ico_step-03.png" alt="">
                            </div>
                            <div class="txt">
                                <span>STEP 03</span><br/>
                                본사 승인검토
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <img src="./assets/images/ico_step-04.png" alt="">
                            </div>
                            <div class="txt">
                                <span>STEP 04</span><br/>
                                승인 및 사용
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="guide__tip mb-20">
                    <h3>서비스 가입 Tip</h3>
                    <ul>
                        <li>
                            - 회원은 면허증을 가지고 전문적인 한약국 운영을 하는 개인 또는 법인 사업자 입니다.
                        </li>
                        <li>
                            - 가입 전에 서류를 준비해 주세요. 모든 서류는 온라인 첨부로 간편하게 제출 가능합니다. (스캔이나 사진 파일로 첨부)
                        </li>
                    </ul>
                </div>
                <div class="guide__docu">
                    <h3>가입서류</h3>
                    <div class="table">
                        <table>
                            <colgroup>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>개인사업자</th>
                                    <th>법인사업자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="action-button mt-10">
                    <a href="" class="button bg-blue color-white">확인</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}