{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub order order2">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">마이페이지</span>
                    <span class="active">첩약보험 자료실</span>
                </div>
                <div>
                    <div class="section__title text-center">
                        <h2>첩약보험 자료실</h2>
                        <div class="desc">
                            <p>
                                도움말도움말도움말도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말
                            </p>
                        </div>
                    </div>
                    <div class="serach-area form-area insurance__form-area">
                        <div class="radiobox flex type3">
                            <label for="ckd1" class="checkItem">
                                <input type="radio" name="date1" id="ckd1" hidden="" checked>
                                <span>1 주일</span>
                            </label>
                            <label for="ckd2" class="checkItem">
                                <input type="radio" name="date1" id="ckd2" hidden="">
                                <span>15일</span>
                            </label>
                            <label for="ckd3" class="checkItem">
                                <input type="radio" name="date1" id="ckd3" hidden="">
                                <span>1 개월</span>
                            </label>
                            <label for="ckd4" class="checkItem">
                                <input type="radio" name="date1" id="ckd4" hidden="">
                                <span>6 개월</span>
                            </label>
                        </div>
                        <div class="flex items-center col mx-4 datepicker-wrap">
                            <div class="input"><input type="text" class="datepicker hasDatepicker" id="dp1614760374933" placeholder="YYYY.MM.DD"></div>
                            <span class="px-2">-</span>
                            <div class="input"><input type="text" class="datepicker hasDatepicker" id="dp1614760374934" placeholder="YYYY.MM.DD"></div>
                        </div>
                        <div class="flex bar">
                            <div class="select mr-2">
                                <select name="" id="">
                                    <option value="">상품명</option>
                                </select>
                            </div>
                            <div class="search">
                                <input type="text">
                                <button type="submit">검색</button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="board-table-info">
                            <span>
                                <i>1000</i>개의 주문내역 내역이 검색되었습니다.
                            </span>
                            <div class="select ml-auto mr-2" style="width:145px;">
                                <select name="" id="">
                                    <option value="">전체 구분</option>
                                </select>
                            </div>
                            <div class="select" style="width:145px;">
                                <select name="" id="">
                                    <option value="">10개씩 보기</option>
                                </select>
                            </div>
                        </div>
                        <div class="table board-table">
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                    <col width="250">
                                    <col width="250">
                                    <col>
                                    <col>
                                    <col>
                                    <col width="80">
                                    <col width="80">
                                    <col width="80">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>구분</th>
                                        <th>주문일자</th>
                                        <th>주문번호</th>
                                        <th>상품명</th>
                                        <th>환자명</th>
                                        <th>주문금액</th>
                                        <th>주문상태</th>
                                        <th>배송추적</th>
                                        <th>상세보기</th>
                                        <th>첩약보험</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">탕전실</td>
                                        <td class="text-center">YYYY.MM.DD</td>
                                        <td class="text-center">12345678-123456789012</td>
                                        <td class="text-center">상품명 상품명 상품명 상품명 상품명</td>
                                        <td class="text-center">홍길동</td>
                                        <td class="text-center">123,450원</td>
                                        <td class="text-center">입금대기</td>
                                        <td>
                                            <a href="" class="btn text-center">배송 추적</a>
                                        </td>
                                        <td>
                                            <a href="" class="btn text-center">보기</a>
                                        </td>
                                        <td>
                                            <a href="" class="btn text-center">등록</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination mt-8">
                        <a href="" class="arrow arrow-prev">이전</a>
                        <a href="" class="active">1</a>
                        <a href="" class="">2</a>
                        <a href="" class="">3</a>
                        <a href="" class="">4</a>
                        <a href="" class="">5</a>
                        <a href="" class="arrow arrow-next">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}