{% extends 'layout/base.njk' %}
{% block content %}
  <div class="container">
    <div class="main">
      <div class="main__visual">
        <div class="main__slide">
          <div class="slide__item">
            <img src="/assets/images/main_slide-01.png" alt="">
          </div>
          <div class="slide__item">
            <img src="/assets/images/main_slide-02.png" alt="">
          </div>
          <div class="slide__item">
            <img src="/assets/images/main_slide-03.png" alt="">
          </div>
          <div class="slide__item">
            <img src="/assets/images/main_slide-04.png" alt="">
          </div>
        </div>
        <div class="main__inner">
          <div class="wrap">
            <h2>
              안정적 운영을 위한 나의 파트너<br/>
              <span>
                <strong>디제이메디</strong>에서 한약방 관리를 시작하세요!
              </span>
            </h2>
            <div class="main__nav flex items-center justify-between">
              <a href="" class="nav__item">
                <div class="inner">
                  <h3>Apply for Solution Use</h3>
                  <p>솔루션 사용신청</p>
                </div>
              </a>
              <a href="" class="nav__item">
                <div class="inner">
                  <h3>Documentation Guidance</h3>
                  <p>가입서류 안내</p>
                </div>
              </a>
              <a href="" class="nav__item">
                <div class="inner">
                  <h3>Download Guide</h3>
                  <p>가이드 다운로드</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="main__section">
        <div class="wrap">
          <div class="main__title">
            <h2>사용자 로그인</h2>
            <p>아이디와 비밀번호를 입력해주세요.</p>
          </div>
          <form action="">
            <div class="form form--accounts">
              <div class="form__row">
                <div class="col">
                  <div class="input_box">
                    <input type="text" placeholder="아이디">
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="col">
                  <div class="input_box">
                    <input type="password" placeholder="비밀번호">
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="col">
                  <label for="saveId" class="checkbox">
                    <input type="checkbox" hidden="" id="saveId">
                    <span></span>
                    <p>아이디 저장</p>
                  </label>
                </div>
              </div>
              <div class="action-button mt-10">
                <a href="" class="button bg-blue color-white">로그인</a>

                <div class="login_find flex items-center justify-center">
                  <a href="">아이디 찾기</a>
                  <span class="bar">|</span>
                  <a href="">비밀번호 찾기</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}