{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">마이페이지</span>
                    <span class="active">내 정보</span>
                </div>
                <div>
                    <div class="section__title text-center">
                        <h2>비밀번호 확인</h2>
                        <div class="desc">
                            <p>
                                도움말 도움말<br/>
                                도움말 도움말 도움말
                            </p>
                        </div>
                    </div>

                    <div class="login">
                        <div class="form">
                            <form action="">
                                <div class="row mb-4 flex items-center">
                                    <div class="col" style="font-size: 20px;color: #606060;">
                                        한의사랑 아이디 :
                                    </div>
                                    <div class="col ml-4" style="font-size: 20px;color: #606060;">
                                        flywork
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input">
                                            <input type="password" placeholder="비밀번호를 입력하세요.">
                                        </div>
                                    </div>
                                </div>

                                <div class="accounts__btnBox">
                                    <a href="" class="btn">확인</a>
                                </div>
                                <ul class="dotList">
                                    <li class="dots">
                                        한의사랑은 회원님의 개인정보를 신중히 취급하며, 회원님의 동의 없이는 기재하신 회원정보가 공개되지 않습니다.
                                    </li>
                                    <li class="dots">보다 다양한 서비스를 받으시려면 정확안 정보를 항상 유지해 주셔야 합니다.</li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}