{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">마이페이지</span>
                    <span class="active">내 정보</span>
                </div>
                <div class="">
                    <div class="section__title text-center">
                        <h2>내 정보</h2>
                        <div class="desc">
                            <p>
                                도움말 도움말<br/>
                                도움말 도움말 도움말
                            </p>
                        </div>
                    </div>
                    <div class="mb-16" style="padding-bottom:20px;border-bottom:1px solid #e1e1e1;">
                        <div class="table">
                            <header class="table__header flex">
                                <h3>기본정보</h3>
                                <span class="flex">
                                    <i>*</i> 표시는 필수입력 사항입니다.
                                </span>
                            </header>
                            <table>
                                <colgroup>
                                    <col width="195">
                                    <col>
                                    <col width="195">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th class="text-left">회원가입일</th>
                                        <td>YYYY.MM.DD</td>
                                        <th class="text-left">회원구분</th>
                                        <td>준회원</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">아이디</th>
                                        <td>flywork</td>
                                        <th class="text-left">
                                            이메일 
                                            <i>*</i>
                                        </th>
                                        <td>
                                            <div class="input">
                                                <input type="text" placeholder="">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">비밀번호</th>
                                        <td colspan="3">
                                            <div class="col flex items-center">
                                                <div class="input" style="">
                                                    <input type="pasword" placeholder="">
                                                </div>
                                                <button class="btn" type="button">비밀번호 변경</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">휴대폰번호</th>
                                        <td colspan="3">
                                            <div class="col flex items-center">
                                                <div class="input" style="">
                                                    <input type="text" placeholder="01012345678">
                                                </div>
                                                <button class="btn" type="button">휴대폰번호 변경</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">
                                            주소지 
                                            <i>*</i>
                                        </th>
                                        <td colspan="3">
                                            <div class="col flex items-center">
                                                <div class="input" style="max-width: 590px;">
                                                    <input type="text" placeholder="">
                                                </div>
                                                <button class="btn" type="button">주소지 변경</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="action-box flex mt-4">
                            <a href="" class="button small mint">회원 탈퇴</a>
                            <a href="" class="button small ml-auto">정보변경</a>
                            <a href="" class="button small mint">한의원 신청</a>
                        </div>
                    </div>
                    <div>
                        <div class="table board-table">
                            <header class="table__header">
                                <h3>부계정 관리</h3>
                            </header>
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col width="250">
                                    <col>
                                    <col>
                                    <col width="70">
                                    <col width="60">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>아이디</th>
                                        <th>이름</th>
                                        <th>담당업무</th>
                                        <th>이메일</th>
                                        <th>휴대폰번호</th>
                                        <th>등록일자</th>
                                        <th>수정</th>
                                        <th>삭제</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">flywork</td>
                                        <td class="text-center">홍길동</td>
                                        <td class="text-center">사무</td>
                                        <td class="text-center">flywork@flywork.co.kr</td>
                                        <td class="text-center">01012345678</td>
                                        <td class="text-center">YYYY.MM.DD</td>
                                        <td class="text-center">
                                            <a href="" class="btn">수정</a>
                                        </td>
                                        <td>
                                            <a href="" class=""><img src="./assets/images/ico_del.png" alt="" class="m-auto"></a>
                                        </td>
                                    </tr>
                                    {# <tr>
                                        <td colspan="8" class="text-center">
                                            <div class="dataNone py-8">
                                                내역이 존재하지 않습니다.
                                            </div>
                                        </td>
                                    </tr> #}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}