{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub prescription">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="active">실속처방</span>
                </div>
                <div>
                    <div class="section__title text-center">
                        <h2>실속처방</h2>
                        <div class="desc">
                            <p>
                                도움말도움말도움말도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말
                            </p>
                        </div>
                    </div>
                    <div class="serach-area form-area justify-center">
                        <div class="tit">
                            통합검색
                        </div>
                        <div class="search">
                            <input type="text">
                            <button type="submit">검색</button>
                        </div>
                    </div>

                    <div>
                        <div class="board-table-info">
                            <span>
                                총 <i>8722</i>개의 약속처방이 있습니다.
                            </span>
                            <div class="select ml-auto mr-4">
                                <select name="" id="">
                                    <option value="">이름순</option>
                                </select>
                            </div>
                            <div class="select">
                                <select name="" id="">
                                    <option value="">20개씩 보기</option>
                                </select>
                            </div>
                        </div>
                        <div class="productList">
                            <ul>
                                {% for item in [1,1,1,1,1,1,1,1,1,1]%}
                                    <li class="productList__item">
                                        <div class="productList__content">
                                            <div class="thumbnail">
                                                <img src="./assets/images/prd-1.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="description">상품 설명입니다.</p>
                                                <div class="flex justify-end">
                                                    <p class="txt">
                                                20,000<i>원</i>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="actions normal">
                                                <a href="" class="button">
                                                    <span>사전처방</span>
                                                </a>
                                                <a href="" class="button">
                                                    <span class="">발송요청</span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                        </div>

                        <div class="pagination mt-8">
                            <a href="" class="arrow arrow-prev">이전</a>
                            <a href="" class="active">1</a>
                            <a href="" class="">2</a>
                            <a href="" class="">3</a>
                            <a href="" class="">4</a>
                            <a href="" class="">5</a>
                            <a href="" class="arrow arrow-next">다음</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}