{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub prescription__detail">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="active">실속처방</span>
                </div>
                <div class="section__title text-center">
                    <h2>실속처방</h2>
                    <div class="desc">
                        <p>
                            도움말도움말도움말도움말도움말도움말도움말도움말도움말<br/>
                            도움말도움말도움말도움말도움말도움말<br/>
                            도움말도움말도움말도움말
                        </p>
                    </div>
                </div>

                <div class="product">
                    <div class="product__summary">
                        <div class="product__thumbnail">
                            <div class="top">
                                <div class="product__thumb">
                                    <img src="./assets/images/prd-2.png" alt="">
                                </div>
                                <div class="product__thumb">
                                    <img src="./assets/images/prd-2.png" alt="">
                                </div>
                                <div class="product__thumb">
                                    <img src="./assets/images/prd-2.png" alt="">
                                </div>
                                <div class="product__thumb">
                                    <img src="./assets/images/prd-2.png" alt="">
                                </div>
                            </div>
                            <div class="bottom">
                                <div class="product__thumb">
                                    <img src="./assets/images/prd-2.png" alt="">
                                </div>
                                <div class="product__thumb">
                                    <img src="./assets/images/prd-2.png" alt="">
                                </div>
                                <div class="product__thumb">
                                    <img src="./assets/images/prd-2.png" alt="">
                                </div>
                                <div class="product__thumb">
                                    <img src="./assets/images/prd-2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="product__orderInfo">
                            <h2 class="product__title">상품명</h2>
                            <p class="product__description">여름철 갈증, 더위로 인한 원기와 진액 손상, 피로, 마른 기침</p>
                            <div class="tab">
                                <div class="table">
                                    <table>
                                        <colgroup>
                                            <col width="120">
                                            <col width="">
                                            <col width="120">
                                            <col width="">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>처방명</th>
                                                <td>벽문승방</td>
                                                <th>출전</th>
                                                <td>내용</td>
                                            </tr>
                                            <tr>
                                                <th>용량</th>
                                                <td>내용</td>
                                                <th>처방구성</th>
                                                <td>처방명</td>
                                            </tr>
                                            <tr>
                                                <th>복용법</th>
                                                <td colspan="3">내용</td>
                                            </tr>
                                            <tr>
                                                <th>처방상태</th>
                                                <td>1,000ea(333ea) <span class="ml-4" style="color: #66b39e;">발송가능</span></td>
                                                <th>포장단위</th>
                                                <td>30ea X 1ea</td>
                                            </tr>
                                            <tr>
                                                <th>포장설명</th>
                                                <td>30ea (용기 스티커, 종이상자)</td>
                                                <th>처방비용</th>
                                                <td>19,000원</td>
                                            </tr>
                                            <tr>
                                                <th>배송설명</th>
                                                <td>내용</td>
                                            </tr>
                                            <tr>
                                                <th>배송비</th>
                                                <td>5,000원</td>
                                                <th>발송처</th>
                                                <td>내용</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions flex justify-end">
                        <a href="" class="button small">장바구니</a>
                        <a href="" class="button small mint">결제 및 배송요청</a>
                    </div>

                    {# 제품 상세 정보 #}
                    <div class="tab mt-32">
                        <div class="tab__nav">
                            <a href="" class="tab__navlink active" data-tablink-detail="1">상품상세</a>
                            <a href="" class="tab__navlink" data-tablink-detail="2">배송정보</a>
                            <a href="" class="tab__navlink" data-tablink-detail="3">교환/환불 신청안내</a>
                            <a href="" class="tab__navlink" data-tablink-detail="4">교환/환불 기준</a>
                        </div>
                        <div class="tab__content">
                            <div class="tab__panel active" style="display: block;">
                                <div class="text-center">
                                    <img src="http://via.placeholder.com/1200x400" alt="" class="mx-auto">
                                </div>
                            </div>
                            <div class="tab__panel" style="">
                                <p class="order-description">
                                    - 접수 시점은 매일 밤 12시입니다.<br>
                                    - 배송 기간은 아래와 같습니다.<br>
                                    1. 일반 탕제 : 접수 후 2일<br>
                                    2. 농축 탕제 : 접수 후 3일<br>
                                    3. 환제·산제 : 접수 후 5일<br>
                                    - 경옥고·공진단 : 접수 후 2~3일<br>
                                    - 지역 혹은 택배사에 따라 1~2일 지연 가능<br>
                                    - 주말 및 공휴일에 접수 된 경우, 다음 날 발송<br>
                                    - 해외 배송 : 우체국 EMS 이용. 구체적 비용은 지역과 무게에 따라 상이<br>
                                    - 묶음 배송 : 탕전 처방의 경우 한박스당 30팩 이하에 한해 다른 처방과 묶음 배송 가능, 환제·산제의 경우 처방 전달 사항란에 기재
                                </p>
                            </div>
                            <div class="tab__panel" style="">
                                <p class="order-description">
                                    1. 상품을 인도받았는데 교환/환불을 원하시나요? 상품 수령 후 15일 이내에 가능합니다.<br>
                                    2. 제품이 훼손되거나 고객이 사용한 경우는 교환/환불이 안됩니다.<br>
                                    3. 제품하자의 교환/반품은 제품 수령일로부터 15일 이내에만 가능합니다.<br>
                                        - 제품하자의 기준은 객관적이어야 합니다.<br>
                                        - 15일이 지난 상품에 대해서는 교환/반품 불가능합니다.<br>
                                    4. 상품의 교환 및 환불은 관세법령에 따라 처리됩니다.
                                </p>
                            </div>
                            <div class="tab__panel" style="">
                                <p class="order-description">
                                    상품 수령 후 7일 이내에 신청하실 수 있습니다.<br>
                                    단, 제품이 내용과 다르거나 불량 등 계약과 다르게 이행된 경우는 제품 수령일부터 3개월 이내,<br>
                                    그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 교환/반품이 가능합니다.<br>
                                    추가적으로 다 음의 경우 해당하는 반품/교환은 신청이 불가능할 수 있습니다.<br>
                                    - 소비자의 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우<br>
                                    - 소비자의 사용 또는 소비에 의해 상품 등의 가치가 현저히 감소한 경우<br>
                                    - 시간의 경과에 의해 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우<br>
                                    - 복제가 가능한 상품 등의 포장을 훼손한 경우<br>
                                    - 소비자의 주문에 따라 개별적으로 생산되는 상품이 제작에 들어간 경우<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="prescription__bottom">
                    <h3>연관상품</h3>
                    <div class="productList">
                        <ul>
                            {% for item in [1,1,1,1,1,1,1,1,1,1]%}
                                <li class="productList__item">
                                    <div class="productList__content">
                                        <div class="thumbnail">
                                            <img src="./assets/images/prd-1.png" alt="">
                                        </div>
                                        <div class="info">
                                            <p class="description">상품 설명입니다.</p>
                                            <div class="flex justify-end">
                                                <p class="txt">
                                                20,000<i>원</i>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="actions normal">
                                            <a href="" class="button">
                                                <span>상세보기</span>
                                            </a>
                                            <a href="" class="button">
                                                <span class="delivery">장바구니</span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                </div>

                {# 실속처방 오른쪽 창 #}
                <div class="normalBox order">
                    <div class="inner">
                        <div class="normalBox__content">
                            <header class="modal__header">
                                <button class="modal__close ml-auto">닫기</button>
                            </header>
                            <div class="modal__body">
                                <div>
                                    <header class="table__header flex items-center justify-between">
                                        <h3>환자 정보</h3>
                                        <a href="" class="addBtn minus ml-auto">환자삭제</a>
                                        <a href="" class="addBtn">환자추가</a>
                                    </header>
                                    <div class="tab-area">
                                        <div class="tabLinks flex items-center">
                                            <a href="#//" data-tablink="1" class="active">환자 검색</a>
                                            <span class="bar">|</span>
                                            <a href="#//" class="" data-tablink="2">처방 환자</a>
                                            <span class="bar">|</span>
                                            <a href="#//" data-tablink="3" class="">처방 내역</a>
                                        </div>
                                        <div class="tabContents">
                                            {# 환자 검색 #}
                                            <div class="tabItem" style="display: block;">
                                                <div class="table type2 table--order">
                                                    <table>
                                                        <colgroup>
                                                            <col>
                                                            <col>
                                                            <col>
                                                            <col width="60">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>차트번호</th>
                                                                <th>환자명</th>
                                                                <th>성별/나이</th>
                                                                <th>비고</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="4" style="text-align:left;">
                                                                총 검색 건수  <span class="mint">12</span>건
                                                            </td>
                                                            </tr>
                                                            <tr>
                                                                <td>20202</td>
                                                                <td>한의사랑</td>
                                                                <td>여성 / 22</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>20202</td>
                                                                <td>한의사랑</td>
                                                                <td>여성 / 22</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>20202</td>
                                                                <td>한의사랑</td>
                                                                <td>여성 / 22</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>20202</td>
                                                                <td>한의사랑</td>
                                                                <td>여성 / 22</td>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>20202</td>
                                                                <td>한의사랑</td>
                                                                <td>여성 / 22</td>
                                                                <td>-</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <div class="pagination small mb-4">
                                                        <a href="" class="arrow arrow-prev">이전</a>
                                                        <a href="" class="active">1</a>
                                                        <a href="" class="">2</a>
                                                        <a href="" class="">3</a>
                                                        <a href="" class="">4</a>
                                                        <a href="" class="">5</a>
                                                        <a href="" class="arrow arrow-next">다음</a>
                                                    </div>
                                                </div>
                                            </div>

                                            {# 처방 환자 #}
                                            <div class="tabItem active" style="display: none;">
                                                <div class="table">
                                                    <table>
                                                        <colgroup>
                                                            <col width="125">
                                                            <col>
                                                        </colgroup>
                                                        <tbody>
                                                            <tr>
                                                                <th>차트번호</th>
                                                                <td>1234567</td>
                                                            </tr>
                                                            <tr>
                                                                <th>환자명</th>
                                                                <td>한의사랑</td>
                                                            </tr>
                                                            <tr>
                                                                <th>성별/나이</th>
                                                                <td>여성 / 22</td>
                                                            </tr>
                                                            <tr>
                                                                <th>전화번호</th>
                                                                <td>021234567</td>
                                                            </tr>
                                                            <tr>
                                                                <th>휴대폰번호</th>
                                                                <td>01012345678</td>
                                                            </tr>
                                                            <tr>
                                                                <th>주소</th>
                                                                <td>
                                                                    123456<br>
                                                                    경기도 고양시 일산동구 장항동 849<br>
                                                                    동양메이저타워 1234호
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>비고</th>
                                                                <td>-</td>
                                                            </tr>
                                                            <tr>
                                                                <th>최근처방</th>
                                                                <td>-</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            {# 처방 내역 #}
                                            <div class="tabItem" style="display: none;">
                                                <div class="table type2 table--order">
                                                    <table>
                                                        <colgroup>
                                                            <col>
                                                            <col>
                                                            <col>
                                                            <col>
                                                            <col width="60">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>처방일</th>
                                                                <th>구분</th>
                                                                <th>처방명</th>
                                                                <th>처방의</th>
                                                                <th>적용</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="5" style="text-align:left;">
                                                                총 검색 건수  <span class="mint">12</span> 건
                                                            </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2021.01.23</td>
                                                                <td>구분값</td>
                                                                <td>처방명</td>
                                                                <td>홍길동</td>
                                                                <td>
                                                                    <button>
                                                                        <img src="./assets/images/ico_plus-2.png" alt="">
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2021.01.23</td>
                                                                <td>구분값</td>
                                                                <td>처방명</td>
                                                                <td>홍길동</td>
                                                                <td>
                                                                    <button>
                                                                        <img src="./assets/images/ico_plus-2.png" alt="">
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2021.01.23</td>
                                                                <td>구분값</td>
                                                                <td>처방명</td>
                                                                <td>홍길동</td>
                                                                <td>
                                                                    <button>
                                                                        <img src="./assets/images/ico_plus-2.png" alt="">
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2021.01.23</td>
                                                                <td>구분값</td>
                                                                <td>처방명</td>
                                                                <td>홍길동</td>
                                                                <td>
                                                                    <button>
                                                                        <img src="./assets/images/ico_plus-2.png" alt="">
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2021.01.23</td>
                                                                <td>구분값</td>
                                                                <td>처방명</td>
                                                                <td>홍길동</td>
                                                                <td>
                                                                    <button>
                                                                        <img src="./assets/images/ico_plus-2.png" alt="">
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2021.01.23</td>
                                                                <td>구분값</td>
                                                                <td>처방명</td>
                                                                <td>홍길동</td>
                                                                <td>
                                                                    <button>
                                                                        <img src="./assets/images/ico_plus-2.png" alt="">
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <div class="pagination small mb-4">
                                                        <a href="" class="arrow arrow-prev">이전</a>
                                                        <a href="" class="active">1</a>
                                                        <a href="" class="">2</a>
                                                        <a href="" class="">3</a>
                                                        <a href="" class="">4</a>
                                                        <a href="" class="">5</a>
                                                        <a href="" class="arrow arrow-next">다음</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>

{# modal 환자추가 #}
<div class="modal modal--patientcare">
<div class="modal__content">
<header class="modal__header">
    <h2 class="modal__title">환자추가</h2>
    <button class="modal__close">닫기</button>
</header>
<div class="modal__body pd10">
    <div class="subTit flex items-center justify-between">
        <h3>환자 정보 관리를 통해~~~</h3>
    </div>
    <div class="cont">
        <div class="row mb-4">
            <div class="table pdModify">
                <table>
                    <colgroup>
                        <col width="140">
                        <col>
                        <col width="140">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th class="text-left">환자명<span class="mint">*</span></th>
                            <td colspan="3">
                                <div class="input flex items-center h45">
                                    <input type="text" class="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-left">환자 존칭<span class="mint">*</span></th>
                            <td>
                                <div class="flex">
                                    <div class="input flex items-center h45">
                                        <input type="text" class="" placeholder="예 ) 홍길동 님 귀하">
                                    </div>
                                    <button class="button small ml-2 mint">저장</button>
                                </div>
                            </td>
                            <th class="text-left">별칭</th>
                            <td>
                                <div class="input flex items-center h45">
                                    <input type="text" class="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-left">차트 번호</th>
                            <td>
                                <div class="input flex items-center h45">
                                    <input type="text" class="">
                                </div>
                            </td>
                            <th class="text-left">그룹 관리</th>
                            <td>
                                <div class="flex">
                                    <div class="select h45">
                                        <select name="" id="">
                                            <option value="">1 그룹명</option>
                                        </select>
                                    </div>
                                    <div class="select mx-2">
                                        <select name="" id="">
                                            <option value="">2 그룹명</option>
                                        </select>
                                    </div>
                                    <button class="button small mint">그룹추가</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-left">나이</th>
                            <td>
                                <div class="flex">
                                    <div class="input flex items-center h45 mr-2">
                                        <input type="text" class="text-right">
                                        <span class="pr-3">세</span>
                                    </div>
                                    <div class="input flex items-center h45 disabled">
                                        <input type="text" class="" disabled>
                                    </div>
                                </div>
                            </td>
                            <th class="text-left">결혼여부/ 국적</th>
                            <td>
                                <div class="flex">
                                    <div class="select h45">
                                        <select name="" id="">
                                            <option value="">선택</option>
                                        </select>
                                    </div>
                                    <div class="select mx-2">
                                        <select name="" id="">
                                            <option value="">한국</option>
                                        </select>
                                    </div>
                                    <button class="button small mint">국가추가</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-left">생년월일</th>
                            <td>
                                <div class="flex">
                                    <div class="input flex items-center h45">
                                        <input type="text" class="text-right">
                                        <span class="pr-3">년</span>
                                    </div>
                                    <div class="input flex items-center h45 mx-2">
                                        <input type="text" class="text-right">
                                        <span class="pr-3">월</span>
                                    </div>
                                    <div class="input flex items-center h45">
                                        <input type="text" class="text-right">
                                        <span class="pr-3">일</span>
                                    </div>
                                </div>
                            </td>
                            <th class="text-left">금년생일</th>
                            <td>
                                <div class="flex">
                                    <div class="input flex items-center h45 disabled">
                                        <input type="text" class="text-right" disabled>
                                        <span class="pr-3">년</span>
                                    </div>
                                    <div class="input flex items-center h45 mx-2 disabled">
                                        <input type="text" class="text-right" disabled>
                                        <span class="pr-3">월</span>
                                    </div>
                                    <div class="input flex items-center h45 disabled">
                                        <input type="text" class="text-right" disabled>
                                        <span class="pr-3">일</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4">
            <div class="table pdModify">
                <table>
                    <colgroup>
                        <col width="140">
                        <col>
                        <col width="140">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th class="text-left">주민번호 앞자리</th>
                            <td colspan="">
                                <div class="input flex items-center h45">
                                    <input type="text" class="">
                                </div>
                            </td>
                            <th class="text-left">별칭</th>
                            <td>
                                <div class="select w-full">
                                    <select>
                                        <option value="">선택</option>
                                    </selec>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-left">전화번호1/ 장소</th>
                            <td>
                                <div class="flex">
                                    <div class="input flex items-center h45">
                                        <input type="text" class="" placeholder="">
                                    </div>
                                    <div class="select ml-2 w-full">
                                        <select>
                                            <option value="">선택</option>
                                        </selec>
                                    </div>
                                </div>
                            </td>
                            <th class="text-left">그룹 관리</th>
                            <td>
                                <div class="flex">
                                    <div class="input flex items-center h45">
                                        <input type="text" class="" placeholder="">
                                    </div>
                                    <div class="select ml-2 w-full">
                                        <select>
                                            <option value="">선택</option>
                                        </selec>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-left">휴대폰번호</th>
                            <td>
                                <div class="flex">
                                    <div class="input flex items-center h45">
                                        <input type="text" class="" placeholder="예 ) 홍길동 님 귀하">
                                    </div>
                                    <button class="button small ml-2 mint">문자제외</button>
                                </div>
                            </td>
                            <th class="text-left">결혼여부/ 국적</th>
                            <td>
                                <div class="input flex items-center h45">
                                    <input type="text" class="">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-4">
            <div class="table">
                <table>
                    <colgroup>
                        <col width="120">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th class="text-left">배송지관리<span class="mint">*</span></th>
                            <td>
                                <div class="flex">
                                    <div class="select">
                                        <select name="" id="">
                                            <option value="">국내배송</option>
                                        </select>
                                    </div>
                                    <div class="select mx-2">
                                        <select name="" id="">
                                            <option value="">배송장소 선택</option>
                                        </select>
                                    </div>
                                    <button class="button small mint">배송지 추가</button>
                                </div>
                                <div class="flex my-2">
                                    <button class="button small mint">우편번호</button>
                                    <div class="input flex items-center h45 disabled" style="width:120px;">
                                        <input type="text" class="" disabled>
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="input flex items-center h45 disabled mr-2">
                                        <input type="text" class="" disabled>
                                    </div>
                                    <div class="input flex items-center h45">
                                        <input type="text" class="" placeholder="상세주소">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="action-box flex items-center">
        <a href="" class="button small ml-auto">취소</a>
        <a href="" class="button small mint">확인</a>
    </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}