{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub cart">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">마이페이지</span>
                    <span class="active">처방옵션</span>
                </div>
                <div>
                    <div class="section__title text-center">
                        <h2>처방옵션</h2>
                        <div class="desc">
                            <p>
                                도움말도움말도움말도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말
                            </p>
                        </div>
                    </div>
                    <div class="serach-area form-area">
                        <div class="select mr-2" style="height:45px;width:200px;">
                            <select name="" id="">
                                <option value="">복용지시</option>
                            </select>
                        </div>
                        <button class="button small mint">직접 작성</button>
                        <button class="button small">파일등록</button>
                        <span style="font-size:18px;color:#4eb8a1;" class="ml-4">*복용지시 안내사항 복용지시 안내사항 복용지시 안내사항</span>
                    </div>

                    <div>
                        <div class="board-table-info">
                            <span>
                                총 <i>10</i>개의 복용지시서 내역이 검색 되었습니다.
                            </span>
                            <div class="select">
                                <select name="" id="">
                                    <option value="">10개씩 보기</option>
                                </select>
                            </div>
                        </div>
                        <div class="table board-table">
                            <table>
                                <colgroup>
                                    <col width="">
                                    <col width="75">
                                    <col width="75">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="text-left">복용지시서 제목</th>
                                        <th class="text-center">수정</th>
                                        <th class="text-center">삭제</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left">제목 제목 제목 제목</td>
                                        <td class="text-center">
                                            <a href="" class="btn">수정</a>
                                        </td>
                                        <td>
                                            <a href="" class=""><img src="./assets/images/ico_del.png" alt="" class="m-auto"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination mt-8">
                        <a href="" class="arrow arrow-prev">이전</a>
                        <a href="" class="active">1</a>
                        <a href="" class="">2</a>
                        <a href="" class="">3</a>
                        <a href="" class="">4</a>
                        <a href="" class="">5</a>
                        <a href="" class="arrow arrow-next">다음</a>
                    </div>
                </div>
            </div>
        </div>

        {# modal #}
        <div class="modal">
            <div class="modal__content type2">
                <header class="modal__header">
                    <h2 class="modal__title">복용지시 직접작성</h2>
                    <button class="modal__close">닫기</button>
                </header>
                <div class="modal__body">
                    <div class="subTit type2">
                        <h3>복용지시서를 작성해주세요.</h3>
                    </div>
                    <div class="cont">
                        <div class="form">
                            <form action="">
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="input">
                                            <input type="text" placeholder=" 제목을 입력해주세요.">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="textarea">
                                            <textarea name="" id="" placeholder="내용을 입력해주세요"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="action-box flex mt-8">
                            <a href="" class="button small mint">등록</a>
                            <a href="" class="button small">삭제</a>
                            <a href="" class="button small">초기화</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}