{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub cart point">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">마이페이지</span>
                    <span class="active">예치금 / 적립금</span>
                </div>
                <div>
                    <div class="section__title text-center">
                        <h2>예치금 / 적립금</h2>
                        <div class="desc">
                            <p>
                                도움말도움말도움말도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말
                            </p>
                        </div>
                    </div>
                    <div class="point__top flex items-center justify-between">
                        <div class="serach-area form-area flex-1">
                            <div class="select mr-2" style="height:45px;width:200px;">
                                <select name="" id="">
                                    <option value="">예치금 내역</option>
                                </select>
                            </div>
                            <span style="font-size:18px;color:#4eb8a1;" class="ml-4">*고객님이 예치하고 상품결제 시 사용한 내역입니다.</span>
                        </div>
                        <div class="point__total flex ml-16">
                            <div class="col">
                                <div class="tit">보유 예치금</div>
                                <div class="txt flex items-center justify-center">
                                    1,000 <span class="ml-2">원</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="tit">보유 적립금</div>
                                <div class="txt flex items-center justify-center">
                                    1,000 <span class="ml-2">원</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="board-table-info">
                            <div class="flex items-center">
                                <span class="flex items-center">
                                    등록 예치금 : <strong class="ml-2">100,000</strong>원
                                </span>
                                <span class="bar">|</span>
                                <span class="flex items-center">
                                    사용 예치금 : <strong class="ml-2 mint">- 99,000</strong>원
                                </span>
                            </div>
                            <div class="select ml-auto mr-4">
                                <select name="" id="">
                                    <option value="">전체 거래</option>
                                </select>
                            </div>
                            <div class="select">
                                <select name="" id="">
                                    <option value="">10개씩 보기</option>
                                </select>
                            </div>
                        </div>
                        <div class="table board-table">
                            <table>
                                <colgroup>
                                    <col width="">
                                    <col width="">
                                    <col width="650">
                                    <col width="">
                                    <col width="">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="text-center">구분</th>
                                        <th class="text-center">거래종류</th>
                                        <th class="text-center">상세내용</th>
                                        <th class="text-center">거래금액</th>
                                        <th class="text-center">거래일자</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">예치금</td>
                                        <td class="text-center">사용</td>
                                        <td class="text-center">
                                            구매 상품명 구매 상품명 구매 상품명 구매 상품명 구매 상품명 구매 상품명
                                        </td>
                                        <td class="text-center mint">- 99,000 원</td>
                                        <td class="text-center">YYYY.MM.DD</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination mt-8">
                        <a href="" class="arrow arrow-prev">이전</a>
                        <a href="" class="active">1</a>
                        <a href="" class="">2</a>
                        <a href="" class="">3</a>
                        <a href="" class="">4</a>
                        <a href="" class="">5</a>
                        <a href="" class="arrow arrow-next">다음</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}