{% extends 'layout/base-dashboard.njk' %}
{% block content %}
  <div class="admin-content">
    <div class="admin-header">
      <h2>개인정보보호관리</h2>
      <div class="breadcrumb">
        <a href="">홈</a>
        <span class="bar">></span>
        <a href="">관리자</a>
        <span class="bar">></span>
        <a href="">기타정보 관리</a>
        <span class="bar">></span>
        <a href="">개인정보보호 관리</a>
      </div>
    </div>

    <div class="admin-body">
      <div class="row px-4 bg-white">
        <div class="title border-b">
          <div class="action-button flex ml-auto">
            <a href="" class="button border-blue color-blue btn">초기화</a>
            <a href="" class="button color-lightgray border-gray bg-lightgray btn">저장</a>
          </div>
        </div>
        <div class="box terms-wrap">
          <div class="terms-title">
            개인정보<br/>
            보호정책
          </div>
          <div class="terms-cont">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores deserunt, eaque, saepe velit vitae debitis a provident aut deleniti alias doloribus. Facere enim assumenda laudantium, ratione exercitationem nulla officiis deleniti.
              Rerum corrupti nostrum ducimus atque autem sequi exercitationem sapiente sit nobis necessitatibus dignissimos, placeat non cupiditate porro sunt cum dolor? Rem cupiditate illo nemo voluptas repellat eos, modi ipsum eius!
              Est velit commodi, magni veniam aspernatur in quasi reprehenderit dignissimos enim magnam consequuntur nemo culpa explicabo. Corrupti eveniet odit id excepturi, doloremque ab vero quos, esse magni enim explicabo cumque.
              Eligendi facilis nam est alias aperiam, atque quos neque molestiae commodi distinctio obcaecati voluptas laborum debitis vitae, praesentium laboriosam sit dolorem eos. Repellendus repellat accusamus veniam animi est. Non, debitis.
              Ipsam atque quasi veritatis quae eligendi cum perferendis distinctio consequuntur placeat vero eveniet unde obcaecati, fuga blanditiis earum cupiditate voluptas nostrum minima sunt ipsa hic autem voluptatem voluptatum. Itaque, earum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores deserunt, eaque, saepe velit vitae debitis a provident aut deleniti alias doloribus. Facere enim assumenda laudantium, ratione exercitationem nulla officiis deleniti.
              Rerum corrupti nostrum ducimus atque autem sequi exercitationem sapiente sit nobis necessitatibus dignissimos, placeat non cupiditate porro sunt cum dolor? Rem cupiditate illo nemo voluptas repellat eos, modi ipsum eius!
              Est velit commodi, magni veniam aspernatur in quasi reprehenderit dignissimos enim magnam consequuntur nemo culpa explicabo. Corrupti eveniet odit id excepturi, doloremque ab vero quos, esse magni enim explicabo cumque.
              Eligendi facilis nam est alias aperiam, atque quos neque molestiae commodi distinctio obcaecati voluptas laborum debitis vitae, praesentium laboriosam sit dolorem eos. Repellendus repellat accusamus veniam animi est. Non, debitis.
              Ipsam atque quasi veritatis quae eligendi cum perferendis distinctio consequuntur placeat vero eveniet unde obcaecati, fuga blanditiis earum cupiditate voluptas nostrum minima sunt ipsa hic autem voluptatem voluptatum. Itaque, earum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores deserunt, eaque, saepe velit vitae debitis a provident aut deleniti alias doloribus. Facere enim assumenda laudantium, ratione exercitationem nulla officiis deleniti.
              Rerum corrupti nostrum ducimus atque autem sequi exercitationem sapiente sit nobis necessitatibus dignissimos, placeat non cupiditate porro sunt cum dolor? Rem cupiditate illo nemo voluptas repellat eos, modi ipsum eius!
              Est velit commodi, magni veniam aspernatur in quasi reprehenderit dignissimos enim magnam consequuntur nemo culpa explicabo. Corrupti eveniet odit id excepturi, doloremque ab vero quos, esse magni enim explicabo cumque.
              Eligendi facilis nam est alias aperiam, atque quos neque molestiae commodi distinctio obcaecati voluptas laborum debitis vitae, praesentium laboriosam sit dolorem eos. Repellendus repellat accusamus veniam animi est. Non, debitis.
              Ipsam atque quasi veritatis quae eligendi cum perferendis distinctio consequuntur placeat vero eveniet unde obcaecati, fuga blanditiis earum cupiditate voluptas nostrum minima sunt ipsa hic autem voluptatem voluptatum. Itaque, earum.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores deserunt, eaque, saepe velit vitae debitis a provident aut deleniti alias doloribus. Facere enim assumenda laudantium, ratione exercitationem nulla officiis deleniti.
              Rerum corrupti nostrum ducimus atque autem sequi exercitationem sapiente sit nobis necessitatibus dignissimos, placeat non cupiditate porro sunt cum dolor? Rem cupiditate illo nemo voluptas repellat eos, modi ipsum eius!
              Est velit commodi, magni veniam aspernatur in quasi reprehenderit dignissimos enim magnam consequuntur nemo culpa explicabo. Corrupti eveniet odit id excepturi, doloremque ab vero quos, esse magni enim explicabo cumque.
              Eligendi facilis nam est alias aperiam, atque quos neque molestiae commodi distinctio obcaecati voluptas laborum debitis vitae, praesentium laboriosam sit dolorem eos. Repellendus repellat accusamus veniam animi est. Non, debitis.
              Ipsam atque quasi veritatis quae eligendi cum perferendis distinctio consequuntur placeat vero eveniet unde obcaecati, fuga blanditiis earum cupiditate voluptas nostrum minima sunt ipsa hic autem voluptatem voluptatum. Itaque, earum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}