{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub cart order">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">안심탕제실</span>
                    <span class="active">처방하기</span>
                </div>
                <div class="mb-16">
                    <div class="section__title text-center">
                        <h2>배송지 입력 및 결제하기</h2>
                        <div class="desc">
                            <p>
                                배송지 입력 및 탕전실 접수
                            </p>
                        </div>
                    </div>
                    <div class="order__links flex justify-end">
                        <a href="" class="button small">처방수정</a>
                        <a href="" class="button small mint">처방삭제</a>
                    </div>
                </div>

                <div class="order__content">
                    <div class="row flex">
                        <div class="col mr-8 flex-1">
                            <div class="table">
                                <header class="table__header">
                                    <h3>처방 요약</h3>
                                </header>
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col>
                                        <col width="125">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>처방분류</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">탕전처방</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <th>처방일자</th>
                                            <td>YYYY.MM.DD</td>
                                        </tr>
                                        <tr>
                                            <th>처방기관</th>
                                            <td>한의사랑 안심탕제실</td>
                                            <th>처방의</th>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <th>의뢰처</th>
                                            <td colspan="3">가나한의원</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table mt-8">
                                <header class="table__header flex items-center justify-between">
                                    <h3>환자 요약</h3>
                                    <span>환자 탭에서 환자를 선택 또는 환자가 없을 경우 “환자추가” 버튼을 눌러주세요.</span>
                                </header>
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col>
                                        <col width="125">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>환자명</th>
                                            <td colspan="3">
                                                <div class="input">
                                                    <input type="text" placeholder="한의사랑" disabled>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>처방메모</th>
                                            <td colspan="3">
                                                <div class="textarea" style="height:100px;">
                                                    <textarea name="" id="" placeholder="환자 특이사항이나 기타사항을 작성 해주세요. (처방메모는 탕전실에 전달되지 않습니다.)"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table mt-8">
                                <header class="table__header">
                                    <h3>처방전</h3>
                                </header>
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col>
                                        <col width="125">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>처방명</th>
                                            <td colspan="3">
                                                <div class="input">
                                                    <input type="text" placeholder="방제집 사용 시 자동 입력됩니다." disabled>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>빠른 약재검색</th>
                                            <td colspan="3">
                                                <div class="input-box flex">
                                                    <div class="input">
                                                        <input type="text" placeholder="" disabled>
                                                    </div>
                                                    <div class="input">
                                                        <input type="text" placeholder="" disabled>
                                                    </div>
                                                    <div class="input">
                                                        <input type="text" placeholder="" disabled>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table mt-8">
                                <header class="table__header">
                                    <h3>추가 법제</h3>
                                </header>
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col>
                                        <col width="125">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>첩수</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">0.0 x 20첩</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <th>총 약재량</th>
                                            <td>
                                                <div class="input">
                                                    <input type="text" placeholder="">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>탕전법</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">표준</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <th>탕전방식</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">무압</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>팩수</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">30팩</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <th>팩용량</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">선택</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>녹용틴트앰플</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">없음</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <th>자하거앰플</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">없음</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>당도추가</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">없음</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <th>당도선택</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">올리고당</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>향기추가</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">없음</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <th>향기선택</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">초코향</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>품질보증서</th>
                                            <td colspan="3">
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">무</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table mt-8">
                                <header class="table__header">
                                    <h3>기타설정</h3>
                                </header>
                                <table>
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>박스</th>
                                            <th>
                                                <div class="inner flex items-center">
                                                    파우치
                                                    <div class="radiobox flex ml-auto">
                                                        <label for="ckd1" class="checkItem">
                                                            <input type="radio" name="date1" id="ckd1" hidden="" checked>
                                                            <span>스탠딩</span>
                                                        </label>
                                                        <label for="ckd2" class="checkItem">
                                                            <input type="radio" name="date1" id="ckd2" hidden="">
                                                            <span>스파우트</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>포장</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="img-area"><img src="./assets/images/prd-1.png" alt=""></div>
                                            </td>
                                            <td>
                                                <div class="img-area"><img src="./assets/images/prd-1.png" alt=""></div>
                                            </td>
                                            <td>
                                                <div class="img-area"><img src="./assets/images/prd-1.png" alt=""></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">박스명</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">파우치명</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">포장명</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table mt-8">
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>마킹</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">마킹 없음</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">
                                            조제법
                                            </th>
                                            <td>
                                                <div class="textarea" style="height:180px;">
                                                    <textarea name="" id="" cols="30" rows="10" disabled></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>복용법</th>
                                            <td>
                                                <div class="action-box flex justify-end">
                                                    <a href="" class="button small">새창으로 보기</a>
                                                    <a href="" class="button small mint">파일 다운로드</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table mt-8">
                                <header class="table__header">
                                    <h3>배송 설정</h3>
                                </header>
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col>
                                        <col width="125">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>배송방법</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">택배</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <th>배송비</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">주문 시 결제</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col right">
                            <div class="table">
                                <header class="table__header flex items-center justify-between">
                                    <h3>배송 정보</h3>
                                    <a href="" class="delivery-links">묶음배송 조건안내</a>
                                </header>
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>배송방법</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">택배</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송비</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">주문 시 결제</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>발송모드</th>
                                            <td>
                                                <div class="select">
                                                    <select name="" id="">
                                                        <option value="">탕전실 > 한의원</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>묶음배송</th>
                                            <td>
                                                <div class="radiobox flex ml-auto ">
                                                    <label for="ck1" class="checkItem flex-1">
                                                        <input type="radio" name="date" id="ck1" hidden="" checked>
                                                        <span class="w-full text-center">묶음배송 설정</span>
                                                    </label>
                                                    <label for="ck2" class="checkItem flex-1">
                                                        <input type="radio" name="date" id="ck2" hidden="">
                                                        <span class="w-full text-center">묶음배송 취소</span>
                                                    </label>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th>묶음배송 상태</th>
                                            <td>
                                                묶음처방 : 쌍화탕<br/>
                                                묶음주소 : [21917] 인천 연수구<br/>
                                                청학동 493-2 123
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: center;">
                                                <span class="mint">[조제대기]</span>인 처방과 함께 묶음배송이 가능합니다.<br/>
                                                (<span class="mint">직접방문수령, 당일택배, 벌크포장</span> 제외)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table mt-4">
                                <header class="table__header">
                                    <h3>보내는 사람</h3>
                                </header>
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>발신인</th>
                                            <td>
                                                <div class="input">
                                                    <input type="text">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>전화번호</th>
                                            <td>
                                                <div class="inner flex">
                                                    <div class="select">
                                                        <select name="" id="">
                                                            <option value="">02</option>
                                                        </select>
                                                    </div>
                                                    <div class="input mx-2">
                                                        <input type="text" placeholder="">
                                                    </div>
                                                    <div class="input">
                                                        <input type="text" placeholder="">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>휴대폰</th>
                                            <td>
                                                <div class="inner flex">
                                                    <div class="select">
                                                        <select name="" id="">
                                                            <option value="">010</option>
                                                        </select>
                                                    </div>
                                                    <div class="input mx-2">
                                                        <input type="text" placeholder="">
                                                    </div>
                                                    <div class="input">
                                                        <input type="text" placeholder="">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>주소</th>
                                            <td>
                                                <div class="">
                                                    <div class="row flex mb-2">
                                                        <div class="input">
                                                            <input type="text" id="" placeholder="우편번호" readonly="">
                                                        </div>
                                                        <button onclick="" class="btn ml-2" style="font-size:14px;">우편번호 찾기</button>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="input">
                                                            <input type="text" id="" placeholder="주소" readonly="">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input">
                                                            <input type="text" id="" placeholder="상세주소 입력" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table mt-4">
                                <header class="table__header">
                                    <h3>받는 사람</h3>
                                </header>
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>수취인</th>
                                            <td>
                                                <div class="input">
                                                    <input type="text">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>전화번호</th>
                                            <td>
                                                <div class="inner flex">
                                                    <div class="select">
                                                        <select name="" id="">
                                                            <option value="">02</option>
                                                        </select>
                                                    </div>
                                                    <div class="input mx-2">
                                                        <input type="text" placeholder="">
                                                    </div>
                                                    <div class="input">
                                                        <input type="text" placeholder="">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>휴대폰</th>
                                            <td>
                                                <div class="inner flex">
                                                    <div class="select">
                                                        <select name="" id="">
                                                            <option value="">010</option>
                                                        </select>
                                                    </div>
                                                    <div class="input mx-2">
                                                        <input type="text" placeholder="">
                                                    </div>
                                                    <div class="input">
                                                        <input type="text" placeholder="">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>주소</th>
                                            <td>
                                                <div class="">
                                                    <div class="row flex mb-2">
                                                        <div class="input">
                                                            <input type="text" id="" placeholder="우편번호" readonly="">
                                                        </div>
                                                        <button onclick="" class="btn ml-2" style="font-size:14px;">우편번호 찾기</button>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="input">
                                                            <input type="text" id="" placeholder="주소" readonly="">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="input">
                                                            <input type="text" id="" placeholder="상세주소 입력" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송메모</th>
                                            <td>
                                                <div class="textarea" style="height:100px;">
                                                    <textarea name="" id=""></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table mt-4">
                                <header class="table__header">
                                    <h3>처방 비용</h3>
                                </header>
                                <table>
                                    <colgroup>
                                        <col width="125">
                                        <col width="">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>약재비</th>
                                            <td>
                                                <div class="flex">
                                                    0원 x 20첩
                                                    <strong class="ml-auto">0</strong>원
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>기본료</th>
                                            <td>
                                                <div class="flex">
                                                    일반탕전 x 1ea
                                                    <strong class="ml-auto">13,500</strong>원
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>조제비</th>
                                            <td>
                                                <div class="flex">
                                                    190원 x 45팩
                                                    <strong class="ml-auto">8,550</strong>원
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>포장비</th>
                                            <td>
                                                <div class="flex">
                                                    500원 x 1ea
                                                    <strong class="ml-auto">500</strong>원
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송비</th>
                                            <td>
                                                <div class="flex">
                                                    3,850원 x 1ea
                                                    <strong class="ml-auto">3,850</strong>원
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="mint">총 합계</th>
                                            <td>
                                                <div class="flex">
                                                    <strong class="ml-auto mint">27,500</strong>원
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="action-box flex justify-end bottomBtn">
                        <a href="" class="button small">처방전 임시저장</a>
                        <a href="" class="button small mint">결제하기</a>
                    </div>
                </div>
            </div>
        </div>

        {# modal 묶음배송 조건안내 #}
        <div class="modal">
            <div class="modal__content">
                <header class="modal__header">
                    <h2 class="modal__title">묶음배송 조건안내</h2>
                    <button class="modal__close">닫기</button>
                </header>
                <div class="modal__body">
                    <div class="subTit flex items-center justify-between">
                        <h3>묶음배송 조건이 변경 되었으니 묶음배송 시 아래의 내용을 참고해 주시기 바랍니다.</h3>
                    </div>
                    <div class="cont">
                        <div class="table">
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>박스</th>
                                        <th>파우치</th>
                                        <th>포장</th>
                                        <th>팩수</th>
                                        <th>비고</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="2" class="text-center">일반박스</td>
                                        <td rowspan="2" class="text-center">스탠딩</td>
                                        <td class="text-center">기본</td>
                                        <td class="text-center">60팩</td>
                                        <td rowspan="2" class="text-center"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">기본 외</td>
                                        <td class="text-center">45팩</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">벌크</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">-</td>
                                        <td class="text-center">묶음안됨</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# modal 묶음배송 가능 처방내역 #}
        <div class="modal">
            <div class="modal__content">
                <header class="modal__header">
                    <h2 class="modal__title">묶음배송 가능 처방내역</h2>
                    <button class="modal__close">닫기</button>
                </header>
                <div class="modal__body">
                    <div class="subTit flex items-center justify-between">
                        <h3>묶음배송이 가능한 처방 내역입니다.</h3>
                    </div>
                    <div class="cont">
                        <div class="table board-table pd0">
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>처방분류</th>
                                        <th>처방명</th>
                                        <th>환자명</th>
                                        <th>나이/성별</th>
                                        <th>차트번호</th>
                                        <th>처방의</th>
                                        <th>접수일자</th>
                                        <th>팩수</th>
                                        <th>조제상태</th>
                                        <th>박스</th>
                                        <th>파우치/포장</th>
                                        <th>묶음배송</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in [1,1,1,1,1,1,1,1,1,1]%}
                                        <tr>
                                            <td class="text-center">01</td>
                                            <td class="text-center">처방분류명</td>
                                            <td class="text-center">처방명</td>
                                            <td class="text-center">환자명</td>
                                            <td class="text-center">22/여</td>
                                            <td class="text-center">1234567</td>
                                            <td class="text-center">홍길동</td>
                                            <td class="text-center">2021.02.02</td>
                                            <td class="text-center">10팩</td>
                                            <td class="text-center">조제대기</td>
                                            <td class="text-center">박스명</td>
                                            <td class="text-center">파우치/포장명</td>
                                            <td class="text-center">
                                                <label for="c0" class="checkbox justify-center">
                                                    <input type="checkbox" id="c0" hidden="">
                                                    <span></span>
                                                </label>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="pagination small">
                            <a href="" class="arrow arrow-prev">이전</a>
                            <a href="" class="active">1</a>
                            <a href="" class="">2</a>
                            <a href="" class="">3</a>
                            <a href="" class="">4</a>
                            <a href="" class="">5</a>
                            <a href="" class="arrow arrow-next">다음</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# modal 결제하기 #}
        <div class="modal">
            <div class="modal__content">
                <header class="modal__header">
                    <h2 class="modal__title">결제하기</h2>
                    <button class="modal__close">닫기</button>
                </header>
                <div class="modal__body pd10">
                    <div class="subTit flex items-center justify-between">
                        <h3>선택하신 주문 건의 결제를 진행해주세요.</h3>
                    </div>
                    <div class="cont">
                        <div class="row mb-4">
                            <div class="table board-table">
                                <table>
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>처방번호</th>
                                            <th>처방분류</th>
                                            <th>의뢰처</th>
                                            <th>처방기관</th>
                                            <th>급여구분</th>
                                            <th>처방명</th>
                                            <th>처방의</th>
                                            <th>조제금액</th>
                                            <th>접수일자</th>
                                            <th>조제상태</th>
                                            <th>결제상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1234567</td>
                                            <td class="text-center">처방분류명</td>
                                            <td class="text-center">의뢰처명</td>
                                            <td class="text-center">처방기관명</td>
                                            <td class="text-center">급여구분명</td>
                                            <td class="text-center">처방명</td>
                                            <td class="text-center">홍길동</td>
                                            <td class="text-center">26,400원</td>
                                            <td class="text-center">2021.02.02</td>
                                            <td  class="text-center mint">조제대기</td>
                                            <td  class="text-center mint">미결제</td>
                                        </tr>
                                        <tr>
                                            <td colspan="11">
                                                <div class="flex jusitfy-between items-center">
                                                    <p>
                                                        총 <span class="mint">1</span> 건
                                                    </p>
                                                    <div class="pagination small ml-auto" style="margin-top:0;">
                                                        <a href="" class="arrow arrow-prev">이전</a>
                                                        <a href="" class="active">1</a>
                                                        <a href="" class="">2</a>
                                                        <a href="" class="">3</a>
                                                        <a href="" class="">4</a>
                                                        <a href="" class="">5</a>
                                                        <a href="" class="arrow arrow-next">다음</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="table pdModify">
                                <table>
                                    <colgroup>
                                        <col width="140">
                                        <col>
                                        <col width="140">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th class="text-left">조제비-할인금액</th>
                                            <td class="text-right">38,850원 - 0원 = 38,850원</td>
                                            <th class="text-left">합계금액</th>
                                            <td class="text-right">38,850원</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="table pdModify">
                                <table>
                                    <colgroup>
                                        <col width="140">
                                        <col>
                                        <col width="140">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th class="text-left">예치금 차감액</th>
                                            <td>
                                                <div class="flex">
                                                    <div class="input flex items-center h45">
                                                        <input type="text" class="text-right mint" placeholder="1,000">
                                                        <span class="pr-3">원</span>
                                                    </div>
                                                    <button class="button small ml-2">전체 금액사용</button>
                                                </div>
                                            </td>
                                            <th class="text-left">예치금 잔액</th>
                                            <td class="text-right">38,850원</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">적립금 차감액</th>
                                            <td>
                                                <div class="flex">
                                                    <div class="input flex items-center h45">
                                                        <input type="text" class="text-right mint" placeholder="1,000">
                                                        <span class="pr-3">원</span>
                                                    </div>
                                                    <button class="button small ml-2">전체 금액사용</button>
                                                </div>
                                            </td>
                                            <th class="text-left">적립금 잔액</th>
                                            <td class="text-right">38,850원</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">결제 예정금액<span class="mint">*</span></th>
                                            <td colspan="3">
                                                <div class="" style="width:233px;">
                                                    <div class="input flex items-center h45">
                                                        <input type="text" class="text-right mint" placeholder="1,000">
                                                        <span class="pr-3">원</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="text-left">결제방식<span class="mint">*</span></th>
                                            <td>
                                                <div class="radiobox flex ml-auto type2">
                                                    <label for="ckd1" class="checkItem">
                                                        <input type="radio" name="date1" id="ckd1" hidden="" checked>
                                                        <span></span>선불결제
                                                    </label>
                                                    <label for="ckd2" class="checkItem">
                                                        <input type="radio" name="date1" id="ckd2" hidden="">
                                                        <span></span>후불결제
                                                    </label>
                                                </div>
                                            </td>
                                            <th class="text-left">결제수단 선택<span class="mint">*</span></th>
                                            <td>
                                                <div class="radiobox flex ml-auto type2">
                                                    <label for="ckd3" class="checkItem">
                                                        <input type="radio" name="date2" id="ckd3" hidden="" checked>
                                                        <span></span>신용카드
                                                    </label>
                                                    <label for="ckd4" class="checkItem">
                                                        <input type="radio" name="date2" id="ckd4" hidden="">
                                                        <span></span>계좌이체
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="paymentTxt px-4">
                            <div class="row mb-4">
                                한의사랑 통합사이트는 ‘전자상거래 시 ActiveX 없는 환경 구현’ 정책에 부응하고, 보다 편리하고 안전한 결제방식 제공을 위해<br/>
                                Non-ActiveX 결제 환경을 제공하여 PC(브라우저 호환) 및 모바일 (안드로이드, IOS계열) 결제가 가능합니다.<br/>
                                <a href="">신용카드(체크카드 포함) 결제 실패 시 조치방법 가이드</a>
                            </div>
                            <div class="row">
                                최신 윈도우 업데이트 내용이 적용되지 않은 일부 PC에서는 카드대행사와 인증업체간의 통신에 사용되는<br/>
                                신규 인증서 (Root CA 인증서)가 미설치 되어 카드 결제 모듈이 실행되지 않는 문제가 발생할 수 있습니다.<br/>
                                <a href="">카드 결제 화면(모듈)이 실행되지 않을 때 해결방법 안내 바로가기</a>
                            </div>
                        </div>
                    </div>

                    <div class="action-box flex items-center">
                        <span>* 결제가 완료되지 않으면 탕전실에 처방전이 접수되지 않아 조제가 시작되지 않습니다.</span>
                        <a href="" class="button small ml-auto">결제보류</a>
                        <a href="" class="button small mint">결제하기</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}