{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub">
            <div class="wrap">
                <div class="my-12">
                    <div class="section__title">
                        <img src="./assets/images/logo.png" alt="" class="m-auto mb-16">
                        <div class="desc">
                            <p>
                                “한의사랑”한의사 회원 신청이 완료 되었습니다.<br/>
                                관리자의 승인 후 이용이 가능하며 승인 내역은 회원가입 시<br/>
                                입력하신 휴대폰 문자로 안내됩니다.<br/><br/>
                                <span>한의사랑 고객센터 : 032-815-1075</span>
                            </p>
                        </div>
                    </div>

                    <div class="accounts__btnBox">
                        <a href="" class="btn">홈으로</a>
                        <a href="" class="btn">한의원 신청</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}