{% extends 'layout/base-dashboard.njk' %}
{% block content %}
  <div class="admin-content">
    <div class="admin-header">
      <h2>수납현황</h2>
      <div class="breadcrumb">
        <a href="">홈</a>
        <span class="bar">></span>
        <a href="">진료관리</a>
        <span class="bar">></span>
        <a href="">예약현황</a>
      </div>
    </div>

    <div class="admin-body">
      <div class="row px-4 bg-white mb-12">
        <div class="box">
          <form action="">
            <div class="form form--admin">
              <div class="form__row px-0">
                <div class="input-group flex-1">
                  <div class="input-inn flex justify-between mb-3">
                    <div class="select">
                      <select name="" id="">
                        <option value="">예약접수일</option>
                      </select>
                    </div>
                    <div class="datepicker-wrap w-340">
                      <div class="input_box flex items-center">
                        <input type="text" class="datepicker" placeholder="YYYY-MM-DD">
                      </div>
                      <span>-</span>
                      <div class="input_box flex items-center">
                        <input type="text" class="datepicker" placeholder="YYYY-MM-DD">
                      </div>
                    </div>
                    <div class="radio-wrap">
                      <label for="dateAll" class="radio-type2">
                        <input type="radio" hidden="" id="dateAll" name="date">
                        <span>전체기간</span>
                      </label>
                      <label for="date1" class="radio-type2">
                        <input type="radio" hidden="" id="date1" name="date" checked>
                        <span>1개월</span>
                      </label>
                      <label for="date2" class="radio-type2">
                        <input type="radio" hidden="" id="date2" name="date">
                        <span>3개월</span>
                      </label>
                      <label for="date3" class="radio-type2">
                        <input type="radio" hidden="" id="date3" name="date">
                        <span>6개월</span>
                      </label>
                      <label for="date4" class="radio-type2">
                        <input type="radio" hidden="" id="date4" name="date">
                        <span>1년</span>
                      </label>
                    </div>
                  </div>
                  <div class="input-inn flex">
                    <div class="select">
                      <select name="" id="">
                        <option value="">환자명</option>
                      </select>
                    </div>
                    <div class="input_box mx-2 w-340">
                      <input type="text">
                    </div>
                    <div class="select mr-2">
                      <select name="" id="">
                        <option value="">예약중</option>
                      </select>
                    </div>
                    <a href="" class="button bg-blue color-white btn-lg">검색</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mb-12">
        <div class="title">
          <div class="action-button flex">
            <a href="" class="button btn color-white bg-gray">전체선택</a>
            <a href="" class="button btn color-gray border-gray bg-white">선택해제</a>
            <a href="" class="button color-white bg-blue btn">예약하기</a>
            <a href="" class="button border-blue btn color-blue bg-white">예약취소</a>
            <a href="javascript:showModal('modal-patient');" class="button btn border-gray bg-white color-lightgray">환자등록</a>
          </div>
          <p class="ml-auto">
            총 검색건수 <span>0</span>건의 내역이 있습니다.
          </p>
        </div>
        <div class="box bg-white scroll-box">
          <div class="table">
            <table>
              <colgroup>
                <col width="50">
                <col width="40">
                <col>
                <col width="60">
                <col width="80">
                <col width="50">
                <col width="130">
                <col width="120">
                <col width="160">
                <col width="50">
                <col width="90">
              </colgroup>
              <thead>
                <tr>
                  <th>선택</th>
                  <th>순번</th>
                  <th>예약번호</th>
                  <th>환자명</th>
                  <th>차트번호</th>
                  <th>성별</th>
                  <th>생년월일</th>
                  <th>휴대폰번호</th>
                  <th>예약일시</th>
                  <th>
                    초진/<br/>
                    재진
                  </th>
                  <th>예약접수일</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label for="p1" class="checkbox justify-center">
                      <input type="checkbox" hidden="" id="p1">
                      <span></span>
                    </label>
                  </td>
                  <td>20</td>
                  <td class="underline">123456789</td>
                  <td>홍길동</td>
                  <td>1234567</td>
                  <td>남성</td>
                  <td>1978년 09월 12일</td>
                  <td>010-1234-5678</td>
                  <td>YYYY.MM.DD 오전 12:00</td>
                  <td>초진</td>
                  <td>YYYY.MM.DD</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row px-4 bg-white mb-12">
        <div class="title border-b">
          <h2>기본정보</h2>
          <div class="action-button flex ml-auto">
            <a href="" class="button btn bg-blue color-white">진료접수</a>
            <a href="" class="button border-blue color-blue btn">예약취소</a>
            <a href="" class="button btn border-gray bg-lightgray color-lightgray">저장</a>
          </div>
        </div>
        <div class="box">
          <form action="">
            <div class="form form--admin">
              <div class="form__row border-b justify-between">
                <div class="col col_fixed ml-0 w-1/3 pr-4">
                  <div class="form-title">
                    <span>예약번호</span>
                  </div>
                  <div class="input_box w-180">
                    <input type="text" value="123456789" readonly>
                  </div>
                </div>
                <div class="col col_fixed ml-0 w-1/3 pr-4">
                  <div class="form-title">
                    <span>초진/재진</span>
                  </div>
                  <div class="select flex-1 w-180">
                    <select name="" id="">
                      <option value="">초진</option>
                    </select>
                  </div>
                </div>
                <div class="col col_fixed ml-0 w-1/3">
                  <div class="form-title">
                    <span>접수형태</span>
                  </div>
                  <div class="select flex-1 w-180">
                    <select name="" id="">
                      <option value="">접수형태명</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form__row border-b justify-between">
                <div class="col col_fixed ml-0 w-2/3 pr-4">
                  <div class="form-title">
                    <span>예약일시</span>
                  </div>
                  <div class="datepicker-wrap w-180">
                    <div class="input_box flex items-center">
                      <input type="text" class="datepicker" placeholder="YYYY-MM-DD">
                    </div>
                  </div>
                  <div class="select flex-1 mx-3">
                    <select name="" id="">
                      <option value="">00시</option>
                    </select>
                  </div>
                  <div class="select flex-1">
                    <select name="" id="">
                      <option value="">00분</option>
                    </select>
                  </div>
                </div>
                <div class="col col_fixed ml-0 w-1/3">
                  <div class="form-title">
                    <span>예약접수 일시</span>
                  </div>
                  <div class="input_box w-180">
                    <input type="text" value="YYYY.MM.DD 오전 11:00" readonly>
                  </div>
                </div>
              </div>
              <div class="form__row border-b">
                <div class="col">
                  <div class="form-title">
                    <span>예약취소일시</span>
                  </div>
                  <div class="input_box">
                    <input type="text" readonly value="YYYY-MM-DD 오전 11:00">
                  </div>
                </div>
              </div>
              <div class="form__row border-b">
                <div class="col">
                  <div class="form-title">
                    <span>예약취소사유</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="예약취소사유">
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="col">
                  <div class="form-title">
                    <span>기초문진</span>
                  </div>
                  <div class="input_box textarea-wrap">
                    <textarea placeholder="내용"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row px-4 bg-white mb-12">
        <div class="title border-b">
          <h2>환자정보</h2>
        </div>
        <div class="box">
          <form action="">
            <div class="form form--admin rx">
              <div class="form__row border-b">
                <div class="col">
                  <div class="form-title">
                    <span>환자명</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="홍길동" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>차트번호</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="1234567" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>고객분류</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="분류명" readonly>
                  </div>
                </div>
              </div>
              <div class="form__row border-b">
                <div class="col">
                  <div class="form-title">
                    <span>생년월일</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="780912" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>나이</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="44세" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>성별</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="남성" readonly>
                  </div>
                </div>
              </div>
              <div class="form__row border-b">
                <div class="col">
                  <div class="form-title">
                    <span>국적</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="한국" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>보험구분</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="구분명" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>보험증 번호</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="012345" readonly>
                  </div>
                </div>
              </div>
              <div class="form__row border-b">
                <div class="col">
                  <div class="form-title">
                    <span>담당의</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="홍길동" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>주치의</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="홍길동" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>현주증상</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="증상명" readonly>
                  </div>
                </div>
              </div>
              <div class="form__row border-b">
                <div class="col">
                  <div class="form-title">
                    <span>전화번호</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="03112345678" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>휴대폰번호</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="01012345678" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>
                      연락가능한<br/>
                      시간
                    </span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="오후 2:00 ~ 5:00" readonly>
                  </div>
                </div>
              </div>
              <div class="form__row border-b">
                <div class="col">
                  <div class="form-title">
                    <span>추천인</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="김미영" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>보유포인트</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="100" readonly>
                  </div>
                </div>
                <div class="col">
                  <div class="form-title">
                    <span>환자등록일</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="YYYY.MM.DD" readonly>
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="col">
                  <div class="form-title">
                    <span>주소</span>
                  </div>
                  <div class="input_box">
                    <input type="text" placeholder="(123456) 경기도 고양시 일산동구 장항동 849 동양메이저타워 1234호" readonly>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- 간편 환자등록 -->
  <div class="modal modal--patient" id="modal-patient">
    <div class="modal__inner">
      <div class="modal__head">
        <h2>간편 환자등록</h2>
      </div>
      <div class="modal__body">
        <form action="">
          <div class="form form--admin">
            <div class="form__row border-b">
              <div class="col">
                <div class="form-title">
                  <span>환자명</span>
                </div>
                <div class="input_box">
                  <input type="text" placeholder="홍길동">
                </div>
              </div>
            </div>
            <div class="form__row border-b">
              <div class="col">
                <div class="form-title">
                  <span>차트번호</span>
                </div>
                <div class="input_box">
                  <input type="text" value="123456789" readonly>
                </div>
              </div>
            </div>
            <div class="form__row border-b">
              <div class="col">
                <div class="form-title">
                  <span>생년월일</span>
                </div>
                <div class="datepicker-wrap flex-1">
                  <div class="input_box flex items-center">
                    <input type="text" class="datepicker" placeholder="YYYY-MM-DD">
                  </div>
                </div>
              </div>
            </div>
            <div class="form__row">
              <div class="col">
                <div class="form-title">
                  <span>휴대폰번호</span>
                </div>
                <div class="input_box">
                  <input type="text" placeholder="“_” 없이 숫자만 입력가능">
                </div>
              </div>
            </div>
            <div class="action-button flex px-3">
              <a href="" class="button bg-blue color-white flex-1">선택</a>
              <a href="javascript:hideModal('modal-patient');" class="button bg-white border-blue color-blue flex-1">취소</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- 긴급알림 -->
  <div class="modal modal--notice" id="modal-notice" style="display:block;">
    <div class="modal__inner">
      <div class="modal__head">
        <h2>긴급알림</h2>
      </div>
      <div class="modal__body">
        <div class="notice-cont">
          <p>
            내영내요요내용내용
          </p>
        </div>
        <a href="" class="button btn-lg bg-blue color-white mx-auto mt-8">확인</a>
      </div>
    </div>
  </div>
  <div class="dim" style="display:block;"></div>

{% endblock %}