{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">마이페이지</span>
                    <span class="active">내 정보</span>
                </div>
                <div class="withdrawal mt-12">
                    <div class="section__title text-center">
                        <h2>회원 탈퇴</h2>
                        <div class="desc">
                            <p>
                                도움말도움말도움말도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말
                            </p>
                        </div>
                    </div>
                    <div class="withdrawal__info">
                        <div class="tit flex items-center">
                            <i>!</i>
                            회원탈퇴 안내
                        </div>
                        <ul class="dotList">
                            <li class="dots">회원.탈퇴시회원님의회원정보,작성게시물등은모두삭제됩니다.</li>
                            <li class="dots mint">회원탈퇴후해지및재가입방지를목적으로1개월간ID(중복확인정보)를보관합니다.</li>
                            <li class="dots">회원 탈퇴 후 재가입 시에는 신규 회원 가입으로 처리되며, 탈퇴 전의 회원정보와 구매내역, 예치금/적립금, 게시글 및 기타 정보 등은 복구되지 않습니다.</li>
                            <li class="dots">신규 회원 가입 유예기간은 아래와 같습니다.</li>
                        </ul>
                        <div class="table mt-4">
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                    <col width="490">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>회원구분</th>
                                        <th>탈퇴 당시 회원 상태</th>
                                        <th>신규 가입 유예기간</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>전체회원</td>
                                        <td>정상회원</td>
                                        <td>탈퇴 후 1개월(30일)이 경과된 이후 신규 회원으로 가입 가능</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="withdrawal__bottom">
                        <p>
                            회원탈퇴를 하시면 회원님의 모든 내역은 삭제 되며 복구가 불가능합니다.<br/>
                            탈퇴하시겠습니까?
                        </p>
                        <a href="" class="btn">회원탈퇴</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}