{% extends 'layout/base.njk' %}
{% block content %}
    <div class="container">
        <div class="sub">
            <div class="wrap">
                <div class="breadcrumb">
                    <span class="">Home</span>
                    <span class="">마이페이지</span>
                    <span class="active">내 정보</span>
                </div>
                <div class="withdrawal mt-12">
                    <div class="section__title text-center">
                        <h2>회원 탈퇴 완료</h2>
                        <div class="desc">
                            <p>
                                도움말도움말도움말도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말도움말도움말<br/>
                                도움말도움말도움말도움말
                            </p>
                        </div>
                    </div>
                    <div class="withdrawal__bottom">
                        <p>
                            회원탈퇴가 완료 되었습니다.<br/>
                            그동안 “한의사랑” 을 이용해주셔서 감사합니다.
                        </p>
                        <a href="" class="btn">홈으로 이동</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}