.find {
  .visual {
    background: url('../images/visual_find.png') no-repeat center;
    height: 470px;
    padding-top: 240px;
    h2 {
      font-size: 36px;
      color: #fff;
      text-align: center;
    }
  }
  .main__section {
    padding-top: 0;
    .wrap {
      @apply relative;
      top: -110px;
    }
  }
  .find__links {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 30px;
    a {
      @apply flex-1 text-center;
      font-size: 20px;
      color: #999;
      line-height: 50px;
      border-bottom: 1px solid #e0e0e0;
      &.active {
        color: #0e7a9e;
        border-bottom: 2px solid #0e7a9e;
        font-weight: 600;
      }
    }
  }
  .radio {
    margin-bottom: 20px;
  }
  .col_fixed {
    width: 90px;
  }
  .form__inn {
    &:first-child {
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid #e0e0e0;
    }
  }

  .findAfter {
    @apply text-center;
    font-size: 20px;
    color: #222;
    line-height: 30px;
    font-weight: 600;
    margin: 50px 0;
    span {
      color: #0e7a9e;
    }
  }
}