
.order {
  .tabLinks {
    &.type2 {
      a {
       width: calc(100% / 7);
       text-align: center;
       @apply relative;
       &::after {
         content:'';
         width:1px;
         height:12px;
         background: #ebebeb;
         @apply absolute;
         right: 0;
         top:50%;
         transform: translateY(-50%);
       }
       &:last-child {
         &::after {
           display: none;
         }
       }
      }
    }
  }
}