<footer class="footer">
  <div class="row footer__top">
    <div class="wrap flex justift-between">
      <div class="col flex footer__links">
        <a href="">이용약관</a>
        <a href="">개인정보보호정책</a>
      </div>
      <div class="col flex footer__links ml-auto">
        <a href="">안심 탕제실</a>
        <a href="">약속처방</a>
        <a href="">실속처방</a>
        <a href="">방제사전</a>
        <a href="">고객센터</a>
      </div>
    </div>
  </div>
  <div class="row footer__bottom">
    <div class="wrap">
      <div class="footer__logo">
          안심 원외탕전실
      </div>
      <div class="flex justify-between">
        <div class="col">
          <p class="footer__info">
            <strong>탕전실 / 약속처방 / 기성처방</strong><br>
                대표 : 안철우<span class="space"></span>사업자등록번호 : 563-92-00243<span class="space"></span>전화 : 032-814-7510<br/>
                FAX : 032-814-7511<span class="space"></span>주소 : 인천광역시 남구 길파로 41번길 84 (주안동)<br/>
                농협 : 355-0044-7917-43 안철우 (안심 원외탕전실)<br/>
                [예치금] 농협 : 355-0044-7921-73 안철우 
            </p>
        </div>
        <div class="col">
          <p class="footer__info">
            <strong>약재몰</strong><br>
                대표 : 김가람<span class="space"></span>사업자등록번호 : 31-86-40936<span class="space"></span>전화 : 032-815-1075<br/>
                FAX : 032-814-7511<span class="space"></span>통신판매업신고번호 : 제 2014-인천연수구-055호<br/>
                개인정보관리자 : 김가람<span class="space"></span>주소 : 인천 연수구 청학동 청명로 17번길 10-17<br/>
                농협 : 301-0150-3124-81 ((주)한의사랑)
            </p>
        </div>
      </div>
    </div>
  </div>
</footer>