<header class="header header--dashboard">
  <div class="wrap flex items-center justify-between">
    <h1 class="header__logo">
      <a href="">
        <img src="./assets/images/logo_dashboard.png" alt="">
      </a>
    </h1>
    <div class="store-name">
      홍길동한약국
    </div>
    <div class="date flex items-center">
      YYYY.MM.DD <span>(요일)</span>
    </div>
  </div>
</header>