<header class="header">
   <div class="header__top">
      <div class="wrap flex items-center justify-between">
         <a href="" class="header__logo"><img src="./assets/images/logo.png" alt="안심 원외탕전실"></a>
         <div class="header__etc flex">
            <a href="">주문내역</a>
            <a href="">장바구니</a>
            <a href="">고객센터</a>
            <a href="">로그인</a>
            <a href="">회원가입</a>
         </div>
      </div>
   </div>
   <div class="header__gnb">
      <div class="wrap flex">
         <nav class="flex m-auto">
            <a href="">안심탕제실</a>
            <a href="">약속처방</a>
            <a href="">실속처방</a>
            <a href="">처방사전</a>
            <a href="">고객센터</a>
            <a href="">이벤트</a>
            <a href="">무료 이미지 사용</a>
         </nav>
      </div>
   </div>

   <!-- 주문현황부분 -->
   <div class="header__dropdown" style="display: none; height: 398px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;"></div>
   <!-- 주문환황 -->
</header>