<header class="header">
   <div class="header__top">
      <div class="wrap flex items-center justify-between">
         <a href="" class="header__logo"><img src="./assets/images/logo.png" alt="안심 원외탕전실"></a>
         <div class="header__etc flex">
            <a href="">주문내역</a>
            <a href="">장바구니</a>
            <a href="">고객센터</a>
            <a href="">로그인</a>
            <a href="">회원가입</a>
         </div>
      </div>
   </div>
   {# <div class="header__gnb">
      <div class="wrap flex">
         <nav class="flex m-auto">
            <a href="" class="active">안심탕제실</a>
            <a href="">약속처방</a>
            <a href="">실속처방</a>
            <a href="">방제사전</a>
         </nav>
      </div>
   </div> #}

   <div class="header__gnb">
      <div class="wrap flex">
         <nav class="nav m-auto flex">
            <div class="nav__depth1">
               <a href="" class="nav__depth1__item active">안심탕제실</a>
               <div class="nav__depth2">
                  <a href="" class="nav__depth2__item">처방하기</a>
                  <a href="" class="nav__depth2__item">처방하기 건강보험</a>
                  <a href="" class="nav__depth2__item">처방내역</a>
                  <a href="" class="nav__depth2__item">화자관리</a>
                  <a href="" class="nav__depth2__item">개인방제집</a>
                  <a href="" class="nav__depth2__item">환경설정</a>
               </div>
            </div>
            <div class="nav__depth1">
               <a href="" class="nav__depth1__item">약속처방</a>
            </div>
            <div class="nav__depth1">
               <a href="" class="nav__depth1__item">실속처방</a>
            </div>
            <div class="nav__depth1">
               <a href="" class="nav__depth1__item">방제사전</a>
            </div>
         </nav>
      </div>
   </div>
</header>