<div class="lnb-wrap">
  <div class="lnb">
    <div class="lnb__title">Dashboard</div>

    <div class="lnb__list">
      <div class="lnb__item">
        <a href="" class="lnb__link active">
          <span>진료관리</span>
        </a>
        <div class="lnb__depth">
          <a href="" class="lnb__depth-link">예약현황</a>
          <a href="" class="lnb__depth-link">접수현황</a>
          <a href="" class="lnb__depth-link">수납현황</a>
        </div>
      </div>
      <div class="lnb__item">
        <a href="" class="lnb__link">
          <span>환자관리</span>
        </a>
        <div class="lnb__depth">
          <a href="" class="lnb__depth-link">환자현황</a>
        </div>
      </div>
      <div class="lnb__item">
        <a href="" class="lnb__link">
          <span>관리자</span>
        </a>
        <div class="lnb__depth">
          <a href="" class="lnb__depth-link">처방전 관리</a>
          <a href="" class="lnb__depth-link">약재관리</a>
          <div class="lnb__item__depth">
            <a href="" class="lnb__depth-link active">기타정보 관리</a>
            <div class="lnb__depth2">
              <a href="" class="lnb__depth2-link">
                <span>- 매장정보 관리</span>
              </a>
              <a href="" class="lnb__depth2-link">
                <span>- 비용관리</span>
              </a>
              <a href="" class="lnb__depth2-link">
                <span>- 포장재 관리</span>
              </a>
              <a href="" class="lnb__depth2-link active">
                <span>- 개인정보보호관리</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>