.accounts {
    padding: 90px 0 180px;
}
.signup__section{
    .item {
        @apply border-t;
        border-color: #606060;
    }
    .row {
        padding: 30px 0;
        @apply border-b;
        border-color: #e1e1e1;
        &:last-child {
            border-bottom: none;
        }
    }
}
.signup__section-title {
    margin-bottom: 45px;
    h3 {
        font-size: 22px;
        color: #000;
        width:205px;
        font-weight: 600;
    }
    span {
        font-size: 16px;
        color: #606060;
        i {
            color: #4eb8a1;
            font-style: normal;
        }
    }
}
.signup {
    .form-tit {
        font-size: 22px;
        color: #000;
        font-weight: 600;
        width: 205px;
        span {
            color: #4eb8a1;
        }
    }
    .input {
        width: 450px;
    }
    .error_message {
        font-size: 16px;
        color: #4eb8a1;
        margin-left: 30px;
        &.red {
            color: #d92d8a;
        }
    }
}

.file {
    label {
        @apply flex;
    }
    p {
        line-height: 58px;
        width: 450px;
        font-size: 20px;
        color: #c2c2c2;
        padding: 0 1em;
        background: #fff;
        border: 1px solid #e1e1e1;
    }
    .btn {
        width: 170px;
        height: 58px;
        line-height: 58px;
        text-align: center;
        border: 1px solid #e1e1e1;
        margin-left: 15px;
        font-size: 20px;
        color: #606060;
        background: #fafafa;
        cursor: pointer;
    }
}
.checkbox {
    @apply flex items-center;
    letter-spacing: -.05em;
    cursor: pointer;
    input + span {
      width: 16px;
      height: 16px;
      border: 1px solid #606060;
      margin-right: 5px;
      background:#fff;
    }
    input:checked  + span {
      background:#606060;
      border-color:#606060;
    }
    p {
      font-size: 14px;
      color:#606060;
    }
}
.select {
    width: 145px;
    height: 38px;
    border: 1px solid #e1e1e1;
    select {
        font-size: 14px;
        color: #606060;
        width: 100%;
        height: 100%;
        background: url('../images/ico_arrow-select.png') no-repeat calc(100% - 1em) center;
        padding: 0 1em;
    }
}

.accounts__btnBox {
    display: flex;
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
    margin-bottom: 30px;
    width: 580px;
    .btn {
        display: inline-block;
        flex: 1;
        width: 100%;
        height: 60px;
        background: #000;
        color: #fff;
        text-align: center;
        font-size: 20px;
        line-height: 60px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.accounts__etc {
    font-size: 16px;
    color: #262728;
    text-align: center;
    a {
        text-decoration: underline;
        color: #4eb8a1;
    }
}
.withdrawal {
    margin-bottom: 200px;
}
.withdrawal__info {
    border: 2px solid #e1e1e1;
    padding: 30px;
    margin-bottom: 130px;
    .mint {
        color: #4eb8a1;
    }
    .tit {
        font-size: 22px;
        color: #606060;
        font-weight: 500;
        margin-bottom: 30px;
        i {
            width: 24px;
            height: 24px;
            font-size: 20px;
            color: #fff;
            font-style: normal;
            background: #4eb8a1;
            border-radius: 50%;
            margin-right: 5px;
            text-align: center;
            line-height: 24px;
        }
    }
    .table {
        th, td {
            text-align: center;
        }
    }
}
.withdrawal__bottom {
    text-align: center;
    p {
        font-style: 18px;
        color: #000;
        margin-bottom: 40px;
        line-height: 33px;
    }
    .btn {
        display: inline-block;
        width: 200px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background: #606060;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.login {
    max-width: 580px;
    margin: 0 auto;

    .find-links {
        a {
            font-size: 16px;
            color: #606060;
            &:nth-child(1) {
                padding-right: 1em;
                position: relative;
                margin-right: 1em;
                &::after {
                    content: '';
                    width: 1px;
                    height: 14px;
                    position: absolute;
                    background: #e1e1e1;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
    .input {
        border:none;
        border-bottom: 1px solid #e1e1e1;
        input {
            padding: 0;
            &::placeholder {
                color: #606060;
            }
        }
    }
    .accounts__btnBox {
        margin-top: 30px;
    }
}
.login__etc {
    margin-top: 30px;
}