.dotList {

}
.dots {
    font-size: 18px;
    color: #606060;
    line-height: 24px;
    padding-left: 15px;
    position: relative;
    margin-bottom: 10px;
    &::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #4eb8a1;
        position: absolute;
        left: 0;
        top: .6em;
    }
    &:last-child {
        margin-bottom: 0;
    }
}