.header {
  @apply absolute left-0 top-0 w-full;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  z-index: 1100;
  .wrap {
    height: 100px;
  }
}
.header__qna {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 25px;
  padding: 0 33px;
  span {
    font-size: 16px;
    color: #fff;
    strong{
      margin-right: 10px;
    }
  }
}


.header--dashboard {
  background: #fff;
  .store-name {
    font-size: 22px;
    color: #222;
    font-weight: 600;
  }
  .date {
    font-size: 16px;
    color: #222;
    font-weight: 600;
    span {
      font-weight: 500;
    }
  }
}