.notice {
    border-top: 1px solid #d7d7d7;
}
.notice__item {
    border-bottom: 1px solid #d7d7d7;
    background: url('../images/ico_notice.png') no-repeat right center;
    padding: 20px 0;
    a {
        width: 100%;
    }
    .date {
        span {
            display: block;
            font-size: 13px;
            color: #000;
            &:nth-child(1) {
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
    }
    .category {
        margin: 0 20px;
        width: 70px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: #47b59d;
        color: #fff;
        font-size: 13px;
    }
    .txt {
        flex: 1;
        margin-right: 50px;
        h3 {
            font-size: 20px;
            color: #000;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p {
            font-size: 15px;
            color: #606060;
        }
    }
}