.sub {
    padding-bottom: 80px;
}

.section__title {
    h2 {
        font-size: 30px;
        color: #000;
        font-weight: 600;
        margin-bottom: 40px;
        a {
            margin-left: 50px;
            color: #606060;
            font-size: 18px;
            line-height: 28px;
            @apply border-b;
            border-color: #606060;
        }
    }
    .desc {
        background: #fafafa;
        border-color: #e1e1e1;
        @apply border-t border-b text-center;
        padding: 25px 0;
        margin-bottom: 80px;
        p {
            font-size: 18px;
            color: #606060;
            line-height: 33px;
            span {
                font-size: 16px;
                color: #606060;
            }
        }
    }
}