.tab__nav {
    width: 100%;
    display: flex;
    .tab__navlink {
        flex: 1;
        text-align: center;
        border: 1px solid #e1e1e1;
        border-bottom: 2px solid #66b39e;
        line-height: 46px;
        color: #000;
        font-size: 14px;

        &.active {
            border: 2px solid #66b39e;
            border-bottom: 1px solid #e1e1e1;
        }
    }
}
.tab__content {
    .tab__panel {
        display: none;
        padding: 40px;
        border: 1px solid #e1e1e1;
        border-top: none;
        &.active {
            display: block;
        }
    }
}
.order-description {
    font-size: 14px;
    color: #000;
    line-height: 24px;
}

.tab {
    &.type2 {
        .tab__panel {
            padding: 0;
            border: none;
            margin-top: 20px;
        }
    }
}